#vehicleDetails {
    margin-top: 20px;
}

#driverDetails {
    margin-top: 20px;
    color: blue;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style: none;
    text-align: center;
    counter-reset: vehicle-counter;
    padding-left: 20px;
}

li {
    counter-increment: vehicle-counter;
    margin: 10px 0;
}

li::before {
    content: counter(vehicle-counter) ":- ";
    font-weight: bold;
    color: #333;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#vehicleList {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
    font-size: 18px;
}

#vehicleList li {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}
span{
    color: red; 
}
